<h2> All Artists Featured at New World Art Gallery</h2>
<div class="container">
<hr
<% for artist in @artists%>
<div class="artist">
<p><%=artist.first_name %> <%=artist.last_name %></p>
<form method="get" action="/gallery/visitors/artists/<%= artist.id %>/exhibit">
  <input type="submit" value="View Exhibits"/>
</form>
<hr
</div>
<% end %>
</div>
