<br>
<br>
<br>



<form method="post" action="/gallery/manager/artists/add">
  <label for="first-name-field">First Name:</label>
  <input
  type="text"
  name="first_name"
  id="first-name-field"
  />

  <label for="last-name-field">Last Name:</label>
  <input
  type="text"
  name="last_name"
  id="last-name-field"
  />

  <input type="submit" value="Add Artist">
</form>
