"Hello World"

<h2> All EXHIBITS</h2>
<div class="container">
  <p>for <%=@artist.first_name%> <%=@artist.last_name%></p>
<hr
<% for exhibit in @exhibits%>
<div class="exhibit">
<p>Exhibit Name: <%=exhibit.exhibit_name %>
<p>Category: <%=exhibit.category %></p>

<hr
</div>
<% end %>
<li>
    <a href="/gallery/manager/artists/new">Add Artist</a>
</li>
</div>
