<br>
<br>

<p>Exhibit Name - <%= @exhibit.exhibit_name %></p>
<p>Category - <%= @exhibit.category %></p>
<br>
<br>

<img src="<%= @exhibit.image %>" alt="<%=@exhibit.exhibit_name%>"
height = "400" width = "400" border = "2">
