<br>




<h1>Welcome to the web site of New World Art Gallery</h1>
<br>
<div class="index_note">
Visitors should access the visitor link in the nav bar to see a
list of available search options.
</div>
