<!DOCTYPE html>
<html>
<head>
  <title>Art Gallery</title>
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
  <!-- <link href="https://fonts.googleapis.com/css?family=EB+Garamond&display=swap" rel="stylesheet"> -->
  <!-- <link rel="stylesheet" href="/styles.css"> -->
</head>
<body>
  <header>
    <h1>Art Gallery</h1>
  </header>
  <nav>
    <ul>
      <li>
        <a href='/gallery/'>Home</a>
      </li>
      <li>
        <a href='/gallery/managers/'>Managers</a>
      </li>
      <li>
        <a href='/gallery/visitors/'>Visitors</a>
      </li>
    </ul>
  </nav>
  <%= yield %>
</body>
</html>
