<!DOCTYPE html>
<html>
<head>
  <title>GALLARY M</title>
  <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
  <!-- <link href="https://fonts.googleapis.com/css?family=EB+Garamond&display=swap" rel="stylesheet"> -->
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <header>
    <h1>Art Gallery</h1>
  </header>
  <nav>
    <ul>
      <li>
        <a href='/gallery/'>Home</a>
      </li>
      <li>
        <a href='/gallery/managers/'>Managers</a>
      </li>
      <li>
        <a href='/gallery/visitors/'>Visitors</a>
      </li>
    </ul>
  </nav>
  <%= yield %>
</body>
</html>
