<br>
<h1>Welcome to the Manager's Section of this Site</h1>
<br>
<br>
<p>Click on one of the links below to be directed to your favoured destination.</p>
<br>
<br>
<li>
  <a href='/gallery/manager/artists/'>Artists</a>
</li>
<br>
<li>
  <a href='/gallery/manager/exhibits'>Exhibits</a>
</li>
<br>
<li>
  <a href='/gallery/manager/assign'>Assign Exhibits to Artist</a>
</li>
