<li>
  <a href='/gallery/manager/artists/'>Artists</a>
</li>
<li>
  <a href='/gallery/manager/exhibits'>Exhibits</a>
</li>
<li>
  <a href='/gallery/manager/assign'>Assign Exhibits to Artist</a>
</li>
