<li>
  <a href='/gallery/vistors/all/'>View All Exhibits</a>
</li>
<li>
  <a href='/gallery/managers/'>View Info on a single exhibit</a>
</li>
<li>
  <a href='/gallery/managers/'>View Exhibit by Artist</a>
</li>
