<br>
<h1>Welcome to the Visitor's Section of this Site</h1>
<p>Click on one of the links below to be directed to your favoured destination.</p>
<div class="visitor_note">
  exhibits listed by artists can be viewed in the artists link
</div>
<br>
<br>
<li>
  <a href='/gallery/vistors/all/'>View All Exhibits</a>
</li>
<br>
<li>
  <a href='/gallery/vistors/all/artists'>View All Artists</a>
</li>
<br>
<li>
  <a href='/gallery/vistors/all/categories'>View All Categories</a>
</li>






<!--
<li>
  <a href='/gallery/vistors/all/'>View All Exhibits</a>
</li>

<li>
  <a href='/gallery/vistors/all/artists'>View All Artists</a>
</li> -->
