<h2> All Exhibits Featured in New World Art Gallery</h2>
<div class="container">
<% for exhibit in @exhibits%>
<div class="exhibit">
<p>Exhibit - <%=exhibit.exhibit_name %>
<p>Category - <%=exhibit.category %></p>
<p><a href="/gallery/visitor/exhibits/<%= exhibit.id %>/view">View</a></p>
<hr
</div>
<% end %>
</div>
