body {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color: white;
  background-image: url("https://images.pexels.com/photos/102127/pexels-photo-102127.jpeg?cs=srgb&dl=art-artist-brush-102127.jpg&fm=jpg");
  background-size: cover;
}

.index_note {
  margin: auto;
  background-color: #333;
  width: 350px;
  border-style: solid;
  border-color: white;
  border-width: thin;
}

.main_heading {
  border-style: solid;
  border-color: white;
  border-width: thin;
}

li {
  list-style: none;
  margin: auto;
  font-size:20px;
  background-color: black;
  width: 350px;
  border-style: solid;
  border-color: red;
  border-width: thin;
}

li:visited {
  color: red;
}

a {color: white;
}

a:hover {
  text-decoration: underline;
}
/* li:hover {
  text-decoration: underline;
} */

a:visited {
  color = red;
}

/* Add a black background color to the top navigation */
.navbar {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.navbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.navbar a.active {
  background-color: #4CAF50;
  color: white;
}

p {
  margin: auto;
  text-align: center;
  background-color: black;
  /* background-color: #333; */
  /* height: 100px; */
  width: 600px;
  /* border-style: solid;
  border-color: white;
  border-width: thin; */
}
